.sprite-basic {
  display: inline-block;
  background-image: url('~assets/img/sprites/basic.png');
  background-repeat: no-repeat;
}

.icon-choice {
  @extend .sprite-basic;
  background-position: 0 182px;
  width: 75px;
  height: 26px;
}

.icon-cs {
  @extend .sprite-basic;
  background-position: -80px -154px;
  width: 28px;
  height: 28px;
}

.icon-dota {
  @extend .sprite-basic;
  background-position: -98px -184px;
  width: 28px;
  height: 26px;
}

.icon-game{
  @extend .sprite-basic;
  background-position: -98px -212px;
  width: 26px;
  height: 26px;
}

.icon-dw {
  @extend .sprite-basic;
  background-position: -62px -232px;
  width: 21px;
  height: 22px;
}

.icon-jinb16-16 {
  @extend .sprite-basic;
  background-image: url('~assets/img/icon/gold.png');
  background-size:cover;
  width: 12px;
  height: 12px;
}

.icon-kef {
  @extend .sprite-basic;
  background-position: -110px -161px;
  width: 20px;
  height: 21px;
}

.icon-password {
  @extend .sprite-basic;
  background-position: -85px -240px;
  width: 13px;
  height: 14px;
}

.icon-phone {
  @extend .sprite-basic;
  background-position: -136px -135px;
  width: 11px;
  height: 15px;
}

.icon-pubg {
  @extend .sprite-basic;
  background-position: -62px -210px;
  width: 34px;
  height: 20px;
}

.icon-radio {
  @extend .sprite-basic;
  background-position: -0px -135px;
  width: 11px;
  height: 15px;
}

.icon-sbjb {
  @extend .sprite-basic;
  background-position: -0px -0px;
  width: 119px;
  height: 113px;
}

.icon-search {
  @extend .sprite-basic;
  background-position: -128px -184px;
  width: 16px;
  height: 17px;
}

.icon-sljb {
  @extend .sprite-basic;
  background-position: -121px -0px;
  width: 119px;
  height: 133px;
}

.icon-time {
  @extend .sprite-basic;
  background-position: -0px -154px;
  width: 78px;
  height: 26px;
}

.icon-user {
  @extend .sprite-basic;
  background-position: -132px -161px;
  width: 14px;
  height: 15px;
}

.icon-whds-logo {
  @extend .sprite-basic;
  background-position: -126px -212px;
  width: 24px;
  height: 24px;
}

.icon-wifi {
  @extend .sprite-basic;
  background-position: -77px -184px;
  width: 19px;
  height: 13px;
}

.icon-xzzh {
  @extend .sprite-basic;
  background-position: -0px -210px;
  width: 60px;
  height: 30px;
}

.icon-yzm {
  @extend .sprite-basic;
  background-position: -0px -242px;
  width: 16px;
  height: 10px;
}

.icon-zfb-logo {
  @extend .sprite-basic;
  background-position: -110px -135px;
  width: 24px;
  height: 24px;
}

.icon-zuans12-10 {
  @extend .sprite-basic;
  background-position: -18px -242px;
  width: 12px;
  height: 10px;
}

.icon-sort-asc{
  display: inline-block;
  width: 6px;
  height: 14px;
  background-image: url('~assets/img/icon/icon-sort.png');
  background-repeat: no-repeat;
  background-position: -8px -0px;
}
.icon-sort-asc-active{
  display: inline-block;
  width: 6px;
  height: 14px;
  background-image: url('~assets/img/icon/icon-sort-active.png');
  background-repeat: no-repeat;
  background-position: -8px -0px;
}
.icon-sort-desc{
  display: inline-block;
  width: 6px;
  height: 14px;
  background-image: url('~assets/img/icon/icon-sort.png');
  background-repeat: no-repeat;
  background-position: -2px -2px;
}
.icon-sort-desc-active{
  display: inline-block;
  width: 6px;
  height: 14px;
  background-image: url('~assets/img/icon/icon-sort-active.png');
  background-repeat: no-repeat;
  background-position: -2px -2px;
}